# dependencies
/node_modules

# testing
/coverage
/playwright-report
/test-results
/blob-report

# next.js
/.next/
/out/
*.tsbuildinfo
next-env.d.ts

# env files (keep .env.example)
.env
.env*.local

# misc
.DS_Store
Thumbs.db
*.log
.vercel
